* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 1146px;
  margin: 0 auto;
}

.Link {
  text-decoration: none;
}
.Link:hover {
  text-decoration: underline;
}
.home {
  box-shadow: 0px 4px 24px rgb(0 0 0 / 10%);
}
